* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.App {
  transition: 0.2s ease;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.location-container {
  color: red;
  font-size: 30px;
  text-align: center;
}